# API Configuration
VITE_API_GATEWAY_URL=https://prisonconnect-mockbackend.onrender.com
VITE_SIGNALING_URL=https://prisonconnect-mockbackend.onrender.com

# Default Login Credentials
VITE_DEFAULT_USERNAME=admin
VITE_DEFAULT_PASSWORD=admin